<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Silex Crud | Log In</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ app.request.basepath }}assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/fonts/font-awesome/font-awesome.css">

    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/fonts/icomoon/icomoon.css">

    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="{{ app.request.basepath }}assets/plugins/iCheck/square/blue.css">


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="{{ ('/home') }}"><b>SILEX</b> CRUD</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Silahkan login terlebih dahulu</p>

        {{ form_start(form, {'method': 'POST', 'action': 'login'}) }}
        {% for message in app.session.getFlashBag.get('message_success') %}
            <div class="alert alert-success alert-dismissable" >
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>

        {% endfor %}
        {% for message in app.session.getFlashBag.get('message_error') %}
            <div class="alert alert-danger alert-dismissable" >
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>

        {% endfor %}

        <div class="form-group has-feedback">
            <select name="role" class="form-control" >
                <option value="2">Siswa</option>
                <option value="1">Guru</option>
                <option value="0">Super Admin</option>

            </select>
        </div>
        <div class="form-group has-feedback">
            {{ form_row(form.username) }}
        </div>

        <div class="form-group has-feedback">
            {{ form_row(form.password) }}
        </div>
        <div class="row">
            <div class="col-xs-8">&nbsp;</div>
            <div class="col-xs-4">
                {{ form_row(form.kirim) }}
            </div>
        </div>
        {{ form_end(form) }}

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->


<script src="{{ app.request.basepath }}assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>

<script src="{{ app.request.basepath }}assets/bootstrap/js/bootstrap.min.js"></script>

{#<script src="{{ app.request.basepath }}assets/plugins/iCheck/icheck.min.js"></script>#}

</body>
</html>
