{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6 center-block">
                    <div class="f-center">
                        <i class="imoon imoon-5x imoon-libreoffice"></i>
                        <h1> New User</h1>
                        <p>Please verify before execute !</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="panel" style="border:6px solid rgba(204, 204, 204,0.5)">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="imoon imoon-quill"></i> Input Informations</span>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form, {'method': 'POST', 'action': 'newuser','attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <span class="append-icon right"></span>
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <span class="append-icon right"></span>
                                    {{ form_row(form.username) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <span class="append-icon right"></span>
                                    {{ form_row(form.password) }}
                                </div>
                            </div>
                            <div class="checkbox-custom checkbox-system mb5">
                                <input type="checkbox" id="showPassword" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'">
                                <label for="showPassword">Show Password</label>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{ form_row(form.role) }}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom:0 !important;">
                                <div class="col-lg-12">
                                    {{ form_row(form.kirim) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}


                    </div>

                </div>

            </div>
            <div class="col-md-3">
                &nbsp;
            </div>

        </div>

        </div>
    </section>
{% endblock %}