<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Silex Crud - Administrator</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/fonts/font-awesome/css/font-awesome.css">
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> #}
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/fonts/icomoon/icomoon.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}assets/dist/css/global.css">
    {% block customCSS %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="{{ ('/home') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">SILEX CRUD</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><strong>SILEX</strong> CRUD</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="user">
                        <a href="{{ ('/logout') }}"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ app.request.basepath }}assets/dist/img/avatar5.png" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p style="text-transform: capitalize">{{ app.session.get('name')['value'] }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i>
                        {% if ((app.session.get('role')['value']) == 0) %}
                            Super Admin
                        {% elseif ((app.session.get('role')['value']) == 1) %}
                            Guru
                        {% else %}
                            Siswa
                        {% endif %}
                    </a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">DAFTAR MENU</li>
                <li>
                    <a href="{{ ('/home') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                {% if ((app.session.get('role')['value']) == 0) %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i> <span>User Management</span> <i
                                    class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="{{ ('/listuser') }}">
                                    <i class="fa fa-circle-o"></i>List User
                                </a>
                            </li>
                            <li>
                                <a href="{{ ('/newuser') }}">
                                    <i class="fa fa-circle-o"></i>Add User
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content %}
        {% endblock %}
    </div><!-- /.content-wrapper -->
    {#<footer class="main-footer">#}
    {#<div class="pull-right hidden-xs">#}
    {#<b>Version</b> 1.0#}
    {#</div>#}
    {#<strong>Copyright &copy; 2016-2021 <a target="_blank" href="http://komaltechno.com">KOMALTECHNO Inc.</a></strong> All rights reserved.#}
    {#</footer>#}
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="{{ app.request.basepath }}assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ app.request.basepath }}assets/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="{{ app.request.basepath }}assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ app.request.basepath }}assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="{{ app.request.basepath }}assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{ app.request.basepath }}assets/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ app.request.basepath }}assets/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ app.request.basepath }}assets/dist/js/demo.js"></script>
<!-- page script -->
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
{% block customJS %}
{% endblock %}
</body>
</html>